* {
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

.btn-primary {
    height: 64px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 36px;
}

.btn-secondary {
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border-color: #FD6E0A;
    padding: 18px 36px;
    height: 64px;
    color: #FD6E0A;
    margin-left: 30px;


}

.header-section {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.primary-colur {
    color: #FD6E0A;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 50px;
    list-style: none;
    font-size: 20px;
    color: #474747;
    align-items: center;
}

/* Banner Styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section styles */

main {
    max-width: 1140px;
    margin: 0 auto;


}

/* about */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.section-discription {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;


}

.info-title {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #757575;
    
    
}